.checkbox-filter-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-left: 4px;
}

.checkbox-filter-container .floor-filter {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.checkbox-filter-container .floor-filter .room-availability {
    align-items: center;
    border-radius: 48px;
    display: inline-flex;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    gap: 10px;
    justify-content: center;
    line-height: 18px;
    padding: 0 8px;
    text-transform: capitalize
}


.checkbox-filter-container .floor-filter .room-availability.avail {
    background: #ecfdf5;
    color: #10b981;
}

.app-filters.e-accordion .checkbox-filter-container .floor-filter .room-availability.full {
    background: #fef2f2;
    color: #dc2626;
}