.price-filter-container {
  margin: 0 auto;
  width: 90%;
}

.price-filter-container .slider-price {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.labeltext {
  font-weight: 600;
}