<ejs-sidebar id="default-sidebar" #sidebar (created)="onCreated($event)" style="visibility: hidden" class="app-sidebar"
    [enableGestures]="enableGestures">

    <div class="calendar-container">
        <app-calendar> </app-calendar>
    </div>
    <!-- <div class="sidebar-header">
        <div class="sidebar-title">Filter By</div>
        <app-filters> </app-filters>
    </div> -->
    <div class="filter-container">
        <div class="filter-label">FILTER BY</div>
        <app-filters></app-filters>
    </div>


</ejs-sidebar>