.checkbox-filter-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-left: 4px;
}

.filter-checkbox {
  align-items: center;
  display: flex;
  justify-content: space-between;
}